# 01 Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02 Importing citibike dataframe

In [3]:
# Creating path first
path = r'/Users/jaksdt/Desktop/Data analytics stuff/Data immersion/Exercises 1 - 10/Section 6'

In [4]:
# importing data frame
df = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'citibike.csv'), index_col = False)

In [5]:
df

,trip_id,bike_id,weekday,start_hour,start_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_time,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender
0,LnQzQk,16013,Mon,18,2013-09-09 18:18:55,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:28,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,1968.0,2
1,IL9boN,15230,Thu,18,2013-09-12 18:38:53,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:34,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,1983.0,1
2,46clGB,17942,Wed,19,2013-09-18 19:44:04,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:05,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,1989.0,1
3,v7vdFt,19683,Sat,11,2013-09-28 11:54:37,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:58,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,1988.0,2
4,VGBsb5,18024,Sat,18,2013-09-07 18:08:22,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:38,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Fb2bmC,17988,Sat,18,2013-09-21 18:39:20,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-21 20:08:59,478,11 Ave & W 41 St,40.760301,-73.998842,2697,Non-Subscriber,NaN,0
49996,XGB7JU,18458,Sat,17,2013-09-14 17:32:26,261,Johnson St & Gold St,40.694749,-73.983625,2013-09-14 17:52:17,151,Cleveland Pl & Spring St,40.721816,-73.997203,1191,Subscriber,1970.0,2
49997,vFs2HS,15054,Sat,18,2013-09-07 18:08:21,402,Broadway & E 22 St,40.740343,-73.989551,2013-09-07 18:25:51,524,W 43 St & 6 Ave,40.755273,-73.983169,1050,Subscriber,1961.0,2
49998,xxacSt,16763,Sat,13,2013-09-07 13:25:35,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,2013-09-07 14:14:04,373,Willoughby Ave & Walworth St,40.693317,-73.953820,2697,Non-Subscriber,NaN,0
49999,4ZmicF,16794,Mon,21,2013-09-23 21:54:36,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-23 22:00:46,488,W 39 St & 9 Ave,40.756458,-73.993722,370,Subscriber,1980.0,2

In [6]:
df.shape

(50000, 18)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trip_id                  50000 non-null  object
 1   bike_id                  50000 non-null  int64
 2   weekday                  50000 non-null  object
 3   start_hour               50000 non-null  int64
 4   start_time               50000 non-null  object
 5   start_station_id         50000 non-null  int64
 6   start_station_name       50000 non-null  object
 7   start_station_latitude   50000 non-null  float64
 8   start_station_longitude  50000 non-null  float64
 9   end_time                 50000 non-null  object
 10  end_station_id           50000 non-null  int64
 11  end_station_name         50000 non-null  object
 12  end_station_latitude     50000 non-null  float64
 13  end_station_longitude    50000 non-null  float64
 14  trip_duration            50000 non-null  int64
 15  subscriber               50000 non-null  object
 16  birth_year               43021 non-null  float64
 17  gender                   50000 non-null  int64
dtypes: float64(5), int64(6), object(7)
memory usage: 6.9+ MB

In [9]:
df.describe()

,bike_id,start_hour,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,trip_duration,birth_year,gender
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,43021.000000,50000.000000
mean,17615.269360,14.145240,443.321500,40.734170,-73.991109,442.539700,40.733859,-73.991351,838.982900,1975.627786,1.073540
std,1675.407446,4.860541,356.559925,0.019911,0.012555,355.756022,0.019885,0.012569,573.663997,11.089001,0.589389
min,14556.000000,0.000000,72.000000,40.680342,-74.017134,72.000000,40.680342,-74.017134,60.000000,1899.000000,0.000000
25%,16188.000000,10.000000,304.000000,40.720196,-74.000271,304.000000,40.720196,-74.001547,417.000000,1968.000000,1.000000
50%,17584.000000,15.000000,402.000000,40.735877,-73.990765,402.000000,40.735354,-73.991218,672.000000,1978.000000,1.000000
75%,19014.000000,18.000000,484.000000,40.750020,-73.981923,483.000000,40.749013,-73.982050,1112.000000,1984.000000,1.000000
max,20642.000000,23.000000,3002.000000,40.770513,-73.950048,3002.000000,40.770513,-73.950048,2697.000000,1997.000000,2.000000

# 03. Data wrangling

In [10]:
# Checking for missing values
df.isnull().sum()

trip_id                       0
bike_id                       0
weekday                       0
start_hour                    0
start_time                    0
start_station_id              0
start_station_name            0
start_station_latitude        0
start_station_longitude       0
end_time                      0
end_station_id                0
end_station_name              0
end_station_latitude          0
end_station_longitude         0
trip_duration                 0
subscriber                    0
birth_year                 6979
gender                        0
dtype: int64

### Only birth year has missing values. We can't drop them, because there are too many. Those rows will contain valuable information needed for our analysis.

In [11]:
# Dropping unnecessary column
df = df.drop(columns = ['trip_id'])

In [12]:
df

,bike_id,weekday,start_hour,start_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_time,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender
0,16013,Mon,18,2013-09-09 18:18:55,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:28,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,1968.0,2
1,15230,Thu,18,2013-09-12 18:38:53,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:34,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,1983.0,1
2,17942,Wed,19,2013-09-18 19:44:04,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:05,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,1989.0,1
3,19683,Sat,11,2013-09-28 11:54:37,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:58,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,1988.0,2
4,18024,Sat,18,2013-09-07 18:08:22,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:38,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,17988,Sat,18,2013-09-21 18:39:20,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-21 20:08:59,478,11 Ave & W 41 St,40.760301,-73.998842,2697,Non-Subscriber,NaN,0
49996,18458,Sat,17,2013-09-14 17:32:26,261,Johnson St & Gold St,40.694749,-73.983625,2013-09-14 17:52:17,151,Cleveland Pl & Spring St,40.721816,-73.997203,1191,Subscriber,1970.0,2
49997,15054,Sat,18,2013-09-07 18:08:21,402,Broadway & E 22 St,40.740343,-73.989551,2013-09-07 18:25:51,524,W 43 St & 6 Ave,40.755273,-73.983169,1050,Subscriber,1961.0,2
49998,16763,Sat,13,2013-09-07 13:25:35,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,2013-09-07 14:14:04,373,Willoughby Ave & Walworth St,40.693317,-73.953820,2697,Non-Subscriber,NaN,0
49999,16794,Mon,21,2013-09-23 21:54:36,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-23 22:00:46,488,W 39 St & 9 Ave,40.756458,-73.993722,370,Subscriber,1980.0,2

In [13]:
# Converting gender from int to string
df['gender'] = df['gender'].astype('str')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bike_id                  50000 non-null  int64
 1   weekday                  50000 non-null  object
 2   start_hour               50000 non-null  int64
 3   start_time               50000 non-null  object
 4   start_station_id         50000 non-null  int64
 5   start_station_name       50000 non-null  object
 6   start_station_latitude   50000 non-null  float64
 7   start_station_longitude  50000 non-null  float64
 8   end_time                 50000 non-null  object
 9   end_station_id           50000 non-null  int64
 10  end_station_name         50000 non-null  object
 11  end_station_latitude     50000 non-null  float64
 12  end_station_longitude    50000 non-null  float64
 13  trip_duration            50000 non-null  int64
 14  subscriber               50000 non-null  object
 15  birth_year               43021 non-null  float64
 16  gender                   50000 non-null  object
dtypes: float64(5), int64(5), object(7)
memory usage: 6.5+ MB

In [15]:
# Checking and creating subset for anyone older than 95
df_sub = df.loc[df['birth_year'] < 1917]

In [16]:
df_sub

,bike_id,weekday,start_hour,start_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_time,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender
563,19507,Mon,12,2013-09-23 12:43:58,305,E 58 St & 3 Ave,40.760958,-73.967245,2013-09-23 12:52:50,2006,Central Park S & 6 Ave,40.765909,-73.976342,532,Subscriber,1900.0,1
1371,16277,Thu,11,2013-09-05 11:20:55,500,Broadway & W 51 St,40.762288,-73.983362,2013-09-05 11:36:10,497,E 17 St & Broadway,40.737050,-73.990093,915,Subscriber,1900.0,1
1431,14638,Thu,7,2013-09-26 07:35:18,427,State St,40.702515,-74.014270,2013-09-26 08:00:02,212,W 16 St & The High Line,40.743349,-74.006818,1484,Subscriber,1901.0,1
1754,17594,Wed,17,2013-09-25 17:00:04,476,E 31 St & 3 Ave,40.743943,-73.979661,2013-09-25 17:09:33,435,W 21 St & 6 Ave,40.741740,-73.994156,569,Subscriber,1900.0,1
4823,19804,Thu,7,2013-09-12 07:36:39,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-12 07:55:02,268,Howard St & Centre St,40.719105,-73.999733,1103,Subscriber,1899.0,1
7502,17490,Mon,7,2013-09-30 07:38:46,498,Broadway & W 32 St,40.748549,-73.988084,2013-09-30 08:01:17,340,Madison St & Clinton St,40.712690,-73.987763,1351,Subscriber,1900.0,1
9644,15732,Sun,11,2013-09-08 11:11:35,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-08 11:32:02,268,Howard St & Centre St,40.719105,-73.999733,1227,Subscriber,1899.0,1
12926,14944,Fri,20,2013-09-20 20:16:18,427,State St,40.702515,-74.014270,2013-09-20 20:58:45,259,South St & Whitehall St,40.701221,-74.012342,2547,Subscriber,1899.0,1
13081,20512,Tue,7,2013-09-10 07:53:12,471,Grand St & Havemeyer St,40.712868,-73.956981,2013-09-10 08:17:33,444,Broadway & W 24 St,40.742354,-73.989151,1461,Subscriber,1901.0,1
13575,18462,Wed,8,2013-09-11 08:40:59,514,12 Ave & W 40 St,40.760875,-74.002777,2013-09-11 08:59:17,268,Howard St & Centre St,40.719105,-73.999733,1098,Subscriber,1899.0,1
16135,15685,Tue,18,2013-09-10 18:53:53,268,Howard St & Centre St,40.719105,-73.999733,2013-09-10 19:14:46,515,W 43 St & 10 Ave,40.760094,-73.994618,1253,Subscriber,1899.0,1
16252,14581,Thu,17,2013-09-26 17:48:15,358,Christopher St & Greenwich St,40.732916,-74.007114,2013-09-26 17:58:49,518,E 39 St & 2 Ave,40.747804,-73.973442,634,Subscriber,1900.0,1
17130,19744,Thu,7,2013-09-12 07:12:03,427,State St,40.702515,-74.014270,2013-09-12 07:34:50,212,W 16 St & The High Line,40.743349,-74.006818,1367,Subscriber,1901.0,1
18332,19746,Wed,11,2013-09-11 11:21:53,327,Vesey Pl & River Terrace,40.715338,-74.016584,2013-09-11 11:32:43,128,MacDougal St & Prince St,40.727103,-74.002971,650,Subscriber,1900.0,1
19824,15104,Thu,18,2013-09-05 18:11:52,540,Lexington Ave & E 26 St,40.741473,-73.983209,2013-09-05 18:37:29,467,Dean St & 4 Ave,40.683125,-73.978951,1537,Subscriber,1910.0,1
28568,18769,Sun,11,2013-09-22 11:07:36,2004,6 Ave & Broome St,40.724399,-74.004704,2013-09-22 11:16:24,348,W Broadway & Spring St,40.724910,-74.001547,528,Subscriber,1900.0,1
37638,19667,Thu,19,2013-09-05 19:42:45,306,Cliff St & Fulton St,40.708235,-74.005301,2013-09-05 20:01:32,347,W Houston St & Hudson St,40.728739,-74.007488,1127,Subscriber,1899.0,1
39863,19775,Sun,13,2013-09-08 13:37:24,327,Vesey Pl & River Terrace,40.715338,-74.016584,2013-09-08 13:58:14,329,Greenwich St & N Moore St,40.720434,-74.010206,1250,Subscriber,1899.0,1
40359,19749,Thu,7,2013-09-19 07:58:17,147,Greenwich St & Warren St,40.715422,-74.011220,2013-09-19 08:06:49,328,Watts St & Greenwich St,40.724055,-74.009660,512,Subscriber,1900.0,1
44309,15521,Wed,16,2013-09-11 16:22:35,225,W 14 St & The High Line,40.741951,-74.008030,2013-09-11 16:24:07,225,W 14 St & The High Line,40.741951,-74.008030,92,Subscriber,1901.0,1
47919,19507,Sun,11,2013-09-22 11:20:44,347,W Houston St & Hudson St,40.728739,-74.007488,2013-09-22 11:33:20,306,Cliff St & Fulton St,40.708235,-74.005301,756,Subscriber,1899.0,1
48989,16098,Tue,17,2013-09-03 17:44:39,485,W 37 St & 5 Ave,40.750380,-73.983390,2013-09-03 18:07:47,458,11 Ave & W 27 St,40.751396,-74.005226,1388,Subscriber,1901.0,1
49684,15708,Mon,14,2013-09-30 14:54:49,328,Watts St & Greenwich St,40.724055,-74.009660,2013-09-30 15:14:26,2003,1 Ave & E 18 St,40.734161,-73.980243,1177,Subscriber,1900.0,1

### Since Citi Bike's age requirement is 16 years to open up an account and 95 years old is pushing the limit, anyone older than that can be viewed as an outlier. So years 1899, 1900 etc cannot be changed to 1999 or 2000 etc thinking that it was a mistake, because you have to be 16 to open an account as this information was for September 2013. So these 23 entries will be dropped

In [17]:
# Dropping above rows
df = df.drop(df[df['birth_year'] < 1917].index)

In [18]:
df

,bike_id,weekday,start_hour,start_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_time,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender
0,16013,Mon,18,2013-09-09 18:18:55,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:28,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,1968.0,2
1,15230,Thu,18,2013-09-12 18:38:53,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:34,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,1983.0,1
2,17942,Wed,19,2013-09-18 19:44:04,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:05,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,1989.0,1
3,19683,Sat,11,2013-09-28 11:54:37,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:58,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,1988.0,2
4,18024,Sat,18,2013-09-07 18:08:22,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:38,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,17988,Sat,18,2013-09-21 18:39:20,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-21 20:08:59,478,11 Ave & W 41 St,40.760301,-73.998842,2697,Non-Subscriber,NaN,0
49996,18458,Sat,17,2013-09-14 17:32:26,261,Johnson St & Gold St,40.694749,-73.983625,2013-09-14 17:52:17,151,Cleveland Pl & Spring St,40.721816,-73.997203,1191,Subscriber,1970.0,2
49997,15054,Sat,18,2013-09-07 18:08:21,402,Broadway & E 22 St,40.740343,-73.989551,2013-09-07 18:25:51,524,W 43 St & 6 Ave,40.755273,-73.983169,1050,Subscriber,1961.0,2
49998,16763,Sat,13,2013-09-07 13:25:35,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,2013-09-07 14:14:04,373,Willoughby Ave & Walworth St,40.693317,-73.953820,2697,Non-Subscriber,NaN,0
49999,16794,Mon,21,2013-09-23 21:54:36,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-23 22:00:46,488,W 39 St & 9 Ave,40.756458,-73.993722,370,Subscriber,1980.0,2

In [19]:
df.describe()

,bike_id,start_hour,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,trip_duration,birth_year
count,49977.000000,49977.000000,49977.000000,49977.000000,49977.000000,49977.000000,49977.000000,49977.000000,49977.000000,42998.000000
mean,17615.280109,14.146027,443.310683,40.734171,-73.991106,442.519639,40.733861,-73.991348,838.877624,1975.668078
std,1675.220866,4.860599,356.565315,0.019911,0.012552,355.687559,0.019885,0.012569,573.675762,10.954112
min,14556.000000,0.000000,72.000000,40.680342,-74.017134,72.000000,40.680342,-74.017134,60.000000,1917.000000
25%,16188.000000,10.000000,304.000000,40.720196,-74.000271,304.000000,40.720196,-74.001547,417.000000,1968.000000
50%,17584.000000,15.000000,402.000000,40.735877,-73.990765,402.000000,40.735354,-73.991218,672.000000,1978.000000
75%,19014.000000,18.000000,484.000000,40.750020,-73.981923,483.000000,40.749013,-73.982050,1112.000000,1984.000000
max,20642.000000,23.000000,3002.000000,40.770513,-73.950048,3002.000000,40.770513,-73.950048,2697.000000,1997.000000

In [20]:
# Replacing all NaN values in birth_year column with mean of 1976.0
df['birth_year'].fillna(1976.0, inplace = True)

In [21]:
# Checking for missing values
df.isnull().sum()

bike_id                    0
weekday                    0
start_hour                 0
start_time                 0
start_station_id           0
start_station_name         0
start_station_latitude     0
start_station_longitude    0
end_time                   0
end_station_id             0
end_station_name           0
end_station_latitude       0
end_station_longitude      0
trip_duration              0
subscriber                 0
birth_year                 0
gender                     0
dtype: int64

In [22]:
df

,bike_id,weekday,start_hour,start_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_time,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender
0,16013,Mon,18,2013-09-09 18:18:55,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:28,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,1968.0,2
1,15230,Thu,18,2013-09-12 18:38:53,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:34,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,1983.0,1
2,17942,Wed,19,2013-09-18 19:44:04,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:05,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,1989.0,1
3,19683,Sat,11,2013-09-28 11:54:37,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:58,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,1988.0,2
4,18024,Sat,18,2013-09-07 18:08:22,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:38,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,1976.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,17988,Sat,18,2013-09-21 18:39:20,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-21 20:08:59,478,11 Ave & W 41 St,40.760301,-73.998842,2697,Non-Subscriber,1976.0,0
49996,18458,Sat,17,2013-09-14 17:32:26,261,Johnson St & Gold St,40.694749,-73.983625,2013-09-14 17:52:17,151,Cleveland Pl & Spring St,40.721816,-73.997203,1191,Subscriber,1970.0,2
49997,15054,Sat,18,2013-09-07 18:08:21,402,Broadway & E 22 St,40.740343,-73.989551,2013-09-07 18:25:51,524,W 43 St & 6 Ave,40.755273,-73.983169,1050,Subscriber,1961.0,2
49998,16763,Sat,13,2013-09-07 13:25:35,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,2013-09-07 14:14:04,373,Willoughby Ave & Walworth St,40.693317,-73.953820,2697,Non-Subscriber,1976.0,0
49999,16794,Mon,21,2013-09-23 21:54:36,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-23 22:00:46,488,W 39 St & 9 Ave,40.756458,-73.993722,370,Subscriber,1980.0,2

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49977 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bike_id                  49977 non-null  int64
 1   weekday                  49977 non-null  object
 2   start_hour               49977 non-null  int64
 3   start_time               49977 non-null  object
 4   start_station_id         49977 non-null  int64
 5   start_station_name       49977 non-null  object
 6   start_station_latitude   49977 non-null  float64
 7   start_station_longitude  49977 non-null  float64
 8   end_time                 49977 non-null  object
 9   end_station_id           49977 non-null  int64
 10  end_station_name         49977 non-null  object
 11  end_station_latitude     49977 non-null  float64
 12  end_station_longitude    49977 non-null  float64
 13  trip_duration            49977 non-null  int64
 14  subscriber               49977 non-null  object
 15  birth_year               49977 non-null  float64
 16  gender                   49977 non-null  object
dtypes: float64(5), int64(5), object(7)
memory usage: 6.9+ MB

In [24]:
# Checking the days of the week
df['weekday'].unique()

array(['Mon', 'Thu', 'Wed', 'Sat', 'Fri', 'Sun', 'Tue'], dtype=object)

In [25]:
# Checking gender values
df['gender'].value_counts(dropna = False)

gender
1    32338
2    10658
0     6981
Name: count, dtype: int64

In [26]:
# Creating a function to re-categorize gender
def gender_category(row):
    if row['gender'] == '1':
        return 'Male'
    elif row['gender'] == '2':
        return 'Female'
    else: return 'Unknown'

In [27]:
# Applying the function
df['gender_cat'] = df.apply(gender_category, axis = 1)

In [28]:
df

,bike_id,weekday,start_hour,start_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_time,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender,gender_cat
0,16013,Mon,18,2013-09-09 18:18:55,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:28,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,1968.0,2,Female
1,15230,Thu,18,2013-09-12 18:38:53,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:34,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,1983.0,1,Male
2,17942,Wed,19,2013-09-18 19:44:04,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:05,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,1989.0,1,Male
3,19683,Sat,11,2013-09-28 11:54:37,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:58,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,1988.0,2,Female
4,18024,Sat,18,2013-09-07 18:08:22,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:38,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,1976.0,0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,17988,Sat,18,2013-09-21 18:39:20,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-21 20:08:59,478,11 Ave & W 41 St,40.760301,-73.998842,2697,Non-Subscriber,1976.0,0,Unknown
49996,18458,Sat,17,2013-09-14 17:32:26,261,Johnson St & Gold St,40.694749,-73.983625,2013-09-14 17:52:17,151,Cleveland Pl & Spring St,40.721816,-73.997203,1191,Subscriber,1970.0,2,Female
49997,15054,Sat,18,2013-09-07 18:08:21,402,Broadway & E 22 St,40.740343,-73.989551,2013-09-07 18:25:51,524,W 43 St & 6 Ave,40.755273,-73.983169,1050,Subscriber,1961.0,2,Female
49998,16763,Sat,13,2013-09-07 13:25:35,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,2013-09-07 14:14:04,373,Willoughby Ave & Walworth St,40.693317,-73.953820,2697,Non-Subscriber,1976.0,0,Unknown
49999,16794,Mon,21,2013-09-23 21:54:36,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-23 22:00:46,488,W 39 St & 9 Ave,40.756458,-73.993722,370,Subscriber,1980.0,2,Female

In [29]:
# Changing start_time column from string to datetime
df['start_time'] = df['start_time'].astype('datetime64[ns]')

In [30]:
# Changing end_time column from string to datetime
df['end_time'] = df['end_time'].astype('datetime64[ns]')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49977 entries, 0 to 49999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bike_id                  49977 non-null  int64
 1   weekday                  49977 non-null  object
 2   start_hour               49977 non-null  int64
 3   start_time               49977 non-null  datetime64[ns]
 4   start_station_id         49977 non-null  int64
 5   start_station_name       49977 non-null  object
 6   start_station_latitude   49977 non-null  float64
 7   start_station_longitude  49977 non-null  float64
 8   end_time                 49977 non-null  datetime64[ns]
 9   end_station_id           49977 non-null  int64
 10  end_station_name         49977 non-null  object
 11  end_station_latitude     49977 non-null  float64
 12  end_station_longitude    49977 non-null  float64
 13  trip_duration            49977 non-null  int64
 14  subscriber               49977 non-null  object
 15  birth_year               49977 non-null  float64
 16  gender                   49977 non-null  object
 17  gender_cat               49977 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(5), object(6)
memory usage: 7.2+ MB

In [33]:
# Dropping gender column
df = df.drop(columns = ['gender'])

In [34]:
df

,bike_id,weekday,start_hour,start_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_time,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender_cat
0,16013,Mon,18,2013-09-09 18:18:55,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:28,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,1968.0,Female
1,15230,Thu,18,2013-09-12 18:38:53,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:34,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,1983.0,Male
2,17942,Wed,19,2013-09-18 19:44:04,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:05,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,1989.0,Male
3,19683,Sat,11,2013-09-28 11:54:37,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:58,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,1988.0,Female
4,18024,Sat,18,2013-09-07 18:08:22,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:38,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,1976.0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,17988,Sat,18,2013-09-21 18:39:20,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-21 20:08:59,478,11 Ave & W 41 St,40.760301,-73.998842,2697,Non-Subscriber,1976.0,Unknown
49996,18458,Sat,17,2013-09-14 17:32:26,261,Johnson St & Gold St,40.694749,-73.983625,2013-09-14 17:52:17,151,Cleveland Pl & Spring St,40.721816,-73.997203,1191,Subscriber,1970.0,Female
49997,15054,Sat,18,2013-09-07 18:08:21,402,Broadway & E 22 St,40.740343,-73.989551,2013-09-07 18:25:51,524,W 43 St & 6 Ave,40.755273,-73.983169,1050,Subscriber,1961.0,Female
49998,16763,Sat,13,2013-09-07 13:25:35,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,2013-09-07 14:14:04,373,Willoughby Ave & Walworth St,40.693317,-73.953820,2697,Non-Subscriber,1976.0,Unknown
49999,16794,Mon,21,2013-09-23 21:54:36,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-23 22:00:46,488,W 39 St & 9 Ave,40.756458,-73.993722,370,Subscriber,1980.0,Female

In [35]:
# Renaming gender_cat column
df.rename(columns = {'gender_cat' : 'gender'}, inplace = True)

In [36]:
df

,bike_id,weekday,start_hour,start_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_time,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender
0,16013,Mon,18,2013-09-09 18:18:55,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:28,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,1968.0,Female
1,15230,Thu,18,2013-09-12 18:38:53,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:34,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,1983.0,Male
2,17942,Wed,19,2013-09-18 19:44:04,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:05,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,1989.0,Male
3,19683,Sat,11,2013-09-28 11:54:37,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:58,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,1988.0,Female
4,18024,Sat,18,2013-09-07 18:08:22,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:38,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,1976.0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,17988,Sat,18,2013-09-21 18:39:20,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-21 20:08:59,478,11 Ave & W 41 St,40.760301,-73.998842,2697,Non-Subscriber,1976.0,Unknown
49996,18458,Sat,17,2013-09-14 17:32:26,261,Johnson St & Gold St,40.694749,-73.983625,2013-09-14 17:52:17,151,Cleveland Pl & Spring St,40.721816,-73.997203,1191,Subscriber,1970.0,Female
49997,15054,Sat,18,2013-09-07 18:08:21,402,Broadway & E 22 St,40.740343,-73.989551,2013-09-07 18:25:51,524,W 43 St & 6 Ave,40.755273,-73.983169,1050,Subscriber,1961.0,Female
49998,16763,Sat,13,2013-09-07 13:25:35,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,2013-09-07 14:14:04,373,Willoughby Ave & Walworth St,40.693317,-73.953820,2697,Non-Subscriber,1976.0,Unknown
49999,16794,Mon,21,2013-09-23 21:54:36,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-23 22:00:46,488,W 39 St & 9 Ave,40.756458,-73.993722,370,Subscriber,1980.0,Female

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49977 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bike_id                  49977 non-null  int64
 1   weekday                  49977 non-null  object
 2   start_hour               49977 non-null  int64
 3   start_time               49977 non-null  datetime64[ns]
 4   start_station_id         49977 non-null  int64
 5   start_station_name       49977 non-null  object
 6   start_station_latitude   49977 non-null  float64
 7   start_station_longitude  49977 non-null  float64
 8   end_time                 49977 non-null  datetime64[ns]
 9   end_station_id           49977 non-null  int64
 10  end_station_name         49977 non-null  object
 11  end_station_latitude     49977 non-null  float64
 12  end_station_longitude    49977 non-null  float64
 13  trip_duration            49977 non-null  int64
 14  subscriber               49977 non-null  object
 15  birth_year               49977 non-null  float64
 16  gender                   49977 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(5), object(5)
memory usage: 6.9+ MB

In [38]:
# Changing start_station_id column from int to string
df['start_station_id'] = df['start_station_id'].astype('str')

In [39]:
# Changing end_station_id column from int to string
df['end_station_id'] = df['end_station_id'].astype('str')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49977 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bike_id                  49977 non-null  int64
 1   weekday                  49977 non-null  object
 2   start_hour               49977 non-null  int64
 3   start_time               49977 non-null  datetime64[ns]
 4   start_station_id         49977 non-null  object
 5   start_station_name       49977 non-null  object
 6   start_station_latitude   49977 non-null  float64
 7   start_station_longitude  49977 non-null  float64
 8   end_time                 49977 non-null  datetime64[ns]
 9   end_station_id           49977 non-null  object
 10  end_station_name         49977 non-null  object
 11  end_station_latitude     49977 non-null  float64
 12  end_station_longitude    49977 non-null  float64
 13  trip_duration            49977 non-null  int64
 14  subscriber               49977 non-null  object
 15  birth_year               49977 non-null  float64
 16  gender                   49977 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(3), object(7)
memory usage: 6.9+ MB

In [41]:
# Changing birth_year column from float to int
df['birth_year'] = df['birth_year'].astype('int64')

In [42]:
df

,bike_id,weekday,start_hour,start_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_time,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender
0,16013,Mon,18,2013-09-09 18:18:55,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:28,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,1968,Female
1,15230,Thu,18,2013-09-12 18:38:53,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:34,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,1983,Male
2,17942,Wed,19,2013-09-18 19:44:04,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:05,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,1989,Male
3,19683,Sat,11,2013-09-28 11:54:37,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:58,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,1988,Female
4,18024,Sat,18,2013-09-07 18:08:22,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:38,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,1976,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,17988,Sat,18,2013-09-21 18:39:20,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-21 20:08:59,478,11 Ave & W 41 St,40.760301,-73.998842,2697,Non-Subscriber,1976,Unknown
49996,18458,Sat,17,2013-09-14 17:32:26,261,Johnson St & Gold St,40.694749,-73.983625,2013-09-14 17:52:17,151,Cleveland Pl & Spring St,40.721816,-73.997203,1191,Subscriber,1970,Female
49997,15054,Sat,18,2013-09-07 18:08:21,402,Broadway & E 22 St,40.740343,-73.989551,2013-09-07 18:25:51,524,W 43 St & 6 Ave,40.755273,-73.983169,1050,Subscriber,1961,Female
49998,16763,Sat,13,2013-09-07 13:25:35,271,Ashland Pl & Hanson Pl,40.685282,-73.978058,2013-09-07 14:14:04,373,Willoughby Ave & Walworth St,40.693317,-73.953820,2697,Non-Subscriber,1976,Unknown
49999,16794,Mon,21,2013-09-23 21:54:36,515,W 43 St & 10 Ave,40.760094,-73.994618,2013-09-23 22:00:46,488,W 39 St & 9 Ave,40.756458,-73.993722,370,Subscriber,1980,Female

# 04 Data consistency checks

In [43]:
df_dups = df[df.duplicated()]

In [44]:
df_dups

Empty DataFrame
Columns: [bike_id, weekday, start_hour, start_time, start_station_id, start_station_name, start_station_latitude, start_station_longitude, end_time, end_station_id, end_station_name, end_station_latitude, end_station_longitude, trip_duration, subscriber, birth_year, gender]
Index: []

## No duplicates found

In [45]:
# Checking for mixed data types
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

## No mixed data type columns found

In [47]:
df.head(30)

,bike_id,weekday,start_hour,start_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_time,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender
0,16013,Mon,18,2013-09-09 18:18:55,523,W 38 St & 8 Ave,40.754666,-73.991382,2013-09-09 18:35:28,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,1968,Female
1,15230,Thu,18,2013-09-12 18:38:53,257,Lispenard St & Broadway,40.719392,-74.002472,2013-09-12 18:48:34,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,1983,Male
2,17942,Wed,19,2013-09-18 19:44:04,479,9 Ave & W 45 St,40.760193,-73.991255,2013-09-18 19:50:05,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,1989,Male
3,19683,Sat,11,2013-09-28 11:54:37,527,E 33 St & 1 Ave,40.743156,-73.974347,2013-09-28 12:03:58,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,1988,Female
4,18024,Sat,18,2013-09-07 18:08:22,521,8 Ave & W 31 St,40.750450,-73.994811,2013-09-07 18:46:38,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,1976,Unknown
5,14581,Fri,22,2013-09-27 22:01:01,293,Lafayette St & E 8 St,40.730287,-73.990765,2013-09-27 22:08:08,432,E 7 St & Avenue A,40.726218,-73.983799,427,Subscriber,1986,Female
6,15022,Sun,13,2013-09-29 13:13:06,380,W 4 St & 7 Ave S,40.734011,-74.002939,2013-09-29 13:23:45,317,E 6 St & Avenue B,40.724537,-73.981854,639,Subscriber,1994,Male
7,16253,Sat,10,2013-09-21 10:48:14,346,Bank St & Hudson St,40.736529,-74.006180,2013-09-21 10:52:37,212,W 16 St & The High Line,40.743349,-74.006818,263,Subscriber,1969,Male
8,16745,Fri,12,2013-09-20 12:29:49,510,W 51 St & 6 Ave,40.760660,-73.980420,2013-09-20 12:40:55,422,W 59 St & 10 Ave,40.770513,-73.988038,666,Subscriber,1993,Male
9,19556,Tue,16,2013-09-03 16:56:06,446,W 24 St & 7 Ave,40.744876,-73.995299,2013-09-03 17:05:48,342,Columbia St & Rivington St,40.717400,-73.980166,582,Subscriber,1983,Male
10,15732,Sat,20,2013-09-07 20:01:58,457,Broadway & W 58 St,40.766953,-73.981693,2013-09-07 20:23:51,512,W 29 St & 9 Ave,40.750073,-73.998393,1313,Non-Subscriber,1976,Unknown
11,15316,Fri,23,2013-09-06 23:02:53,251,Mott St & Prince St,40.723180,-73.994800,2013-09-06 23:23:43,460,S 4 St & Wythe Ave,40.712859,-73.965903,1250,Subscriber,1985,Male
12,15522,Sun,2,2013-09-22 02:02:47,393,E 5 St & Avenue C,40.722992,-73.979955,2013-09-22 02:19:34,2022,E 59 St & Sutton Pl,40.758491,-73.959206,1007,Subscriber,1979,Male
13,15503,Fri,9,2013-09-13 09:09:15,388,W 26 St & 10 Ave,40.749718,-74.002950,2013-09-13 09:26:38,152,Warren St & Church St,40.714740,-74.009106,1043,Subscriber,1967,Male
14,17172,Tue,15,2013-09-24 15:06:29,546,E 30 St & Park Ave S,40.744449,-73.983035,2013-09-24 15:20:09,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,820,Subscriber,1981,Male
15,15973,Mon,18,2013-09-16 18:45:05,167,E 39 St & 3 Ave,40.748901,-73.976049,2013-09-16 18:47:59,440,E 45 St & 3 Ave,40.752554,-73.972826,174,Subscriber,1959,Male
16,19355,Mon,6,2013-09-23 06:54:47,404,9 Ave & W 14 St,40.740583,-74.005509,2013-09-23 07:16:13,296,Division St & Bowery,40.714131,-73.997047,1286,Subscriber,1976,Male
17,15651,Mon,18,2013-09-30 18:32:48,363,West Thames St,40.708347,-74.017134,2013-09-30 19:01:59,514,12 Ave & W 40 St,40.760875,-74.002777,1751,Non-Subscriber,1976,Unknown
18,18863,Fri,7,2013-09-13 07:46:22,445,E 10 St & Avenue A,40.727408,-73.981420,2013-09-13 07:57:29,476,E 31 St & 3 Ave,40.743943,-73.979661,667,Subscriber,1989,Female
19,18846,Tue,17,2013-09-24 17:48:27,505,6 Ave & W 33 St,40.749013,-73.988484,2013-09-24 18:02:04,459,W 20 St & 11 Ave,40.746745,-74.007756,817,Subscriber,1985,Male
20,14814,Sun,1,2013-09-29 01:04:32,528,2 Ave & E 31 St,40.742909,-73.977061,2013-09-29 01:17:58,301,E 2 St & Avenue B,40.722174,-73.983688,806,Subscriber,1976,Male
21,18434,Sun,7,2013-09-08 07:42:00,512,W 29 St & 9 Ave,40.750073,-73.998393,2013-09-08 07:52:24,252,MacDougal St & Washington Sq,40.732264,-73.998522,624,Subscriber,1974,Male
22,16918,Fri,20,2013-09-20 20:49:28,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,2013-09-20 20:57:19,430,York St & Jay St,40.701485,-73.986569,471,Subscriber,1978,Male
23,18024,Thu,14,2013-09-05 14:59:43,380,W 4 St & 7 Ave S,40.734011,-74.002939,2013-09-05 15:09:57,379,W 31 St & 7 Ave,40.749156,-73.991600,614,Subscriber,1971,Male
24,15136,Mon,18,2013-09-09 18:45:24,385,E 55 St & 2 Ave,40.757973,-73.966033,2013-09-09 19:05:26,435,W 21 St & 6 Ave,40.741740,-73.994156,1202,Subscriber,1981,Female
25,17723,Fri,9,2013-09-13 09:59:21,252,MacDougal St & Washington Sq,40.732264,-73.998522,2013-09-13 10:03:17,357,E 11 St & Broadway,40.732618,-73.991580,236,Subscriber,1966,Male
26,17506,Sun,16,2013-09-01 16:18:58,389,Broadway & Berry St,40.710446,-73.965251,2013-09-01 16:26:56,389,Broadway & Berry St,40.710446,-73.965251,478,Non-Subscriber,1976,Unknown
27,17273,Fri,8,2013-09-13 08:39:07,526,E 33 St & 5 Ave,40.747659,-73.984907,2013-09-13 08:44:39,167,E 39 St & 3 Ave,40.748901,-73.976049,332,Subscriber,1987,Male
28,15578,Fri,8,2013-09-27 08:31:03,420,Clermont Ave & Lafayette Ave,40.687645,-73.969689,2013-09-27 08:35:17,274,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,254,Subscriber,1965,Male
29,20611,Wed,19,2013-09-11 19:33:51,503,E 20 St & Park Ave,40.738274,-73.987520,2013-09-11 19:36:14,2000,Front St & Washington St,40.702551,-73.989402,143,Subscriber,1985,Male

In [48]:
# Exporting clean dataframe
df.to_csv(os.path.join(path, '02 Data', 'Prepared data', 'citibike.csv'))